#page-home main{
    max-width: 1120px;
    margin: 0 auto;  
    padding: 24px;
}

#page-home main form textarea{
    width: 100%;
    border: 0;
    padding:16px;
    border-radius: 8px;
    background: #fefefe;
    box-shadow: 0 2px 12px rgba(0,0,0,0.04);
    resize: vertical;
    min-height: 130px;
}

#page-home main form .form-footer{
    display: flex;
    justify-content:space-between;
    align-items: center;

}

#page-home main form .form-footer p{
    font-size: 14px;
    color: #737380;
    font-weight: 500;
    margin-top: -10px;
}

#page-home main form .form-footer > p span {   
    color: #835AFD;  
}

#page-home main .questions-length span {
    color:#737380;
}
#page-home main .question-list {
    margin-top: 10px;
}


